class {% block class_name %}{% endblock %}({% block inherit_from %}{% endblock %}):
    {% if service.comment %}
    """
    {{ service.comment | indent(4) }}
    """
    {% elif not service.methods %}
    pass
    {% endif %}

    {% block class_content %}{% endblock %}

    {% for method in service.methods %}
    async def {{ method.py_name }}(self
        {%- if not method.client_streaming -%}
            , {{ method.py_input_message_param }}:
                {%- if method.is_input_msg_empty -%}
                    "{{ method.py_input_message_type }} | None" = None
                {%- else -%}
                    "{{ method.py_input_message_type }}"
                {%- endif -%}
        {%- else -%}
            {# Client streaming: need a request iterator instead #}
            , {{ method.py_input_message_param }}_iterator: "{{ output_file.typing_compiler.union(output_file.typing_compiler.async_iterable(method.py_input_message_type), output_file.typing_compiler.iterable(method.py_input_message_type)) }}"
        {%- endif -%}
            ,
            *
            , timeout: {{ output_file.typing_compiler.optional("float") }} = None
            , deadline: "{{ output_file.typing_compiler.optional("Deadline") }}" = None
            , metadata: "{{ output_file.typing_compiler.optional("MetadataLike") }}" = None
            ) -> "{% if method.server_streaming %}{{ output_file.typing_compiler.async_iterator(method.py_output_message_type ) }}{% else %}{{ method.py_output_message_type }}{% endif %}":
        {% if method.comment %}
        """
        {{ method.comment | indent(8) }}
        """
        {% endif %}

        {% if method.proto_obj.options and method.proto_obj.options.deprecated %}
        warnings.warn("{{ service.py_name }}.{{ method.py_name }} is deprecated", DeprecationWarning)
        {% endif %}

        {% if method.server_streaming %}
            {% if method.client_streaming %}
        async for response in self._stream_stream(
            "{{ method.route }}",
            {{ method.py_input_message_param }}_iterator,
            {{ method.py_input_message_type }},
            {{ method.py_output_message_type }},
            timeout=timeout,
            deadline=deadline,
            metadata=metadata,
        ):
            yield response
            {% else %}{# i.e. not client streaming #}
        {% if method.is_input_msg_empty %}
        if {{ method.py_input_message_param }} is None:
            {{ method.py_input_message_param }} = {{ method.py_input_message_type }}()

        {% endif %}
        async for response in self._unary_stream(
            "{{ method.route }}",
            {{ method.py_input_message_param }},
            {{ method.py_output_message_type }},
            timeout=timeout,
            deadline=deadline,
            metadata=metadata,
        ):
            yield response

            {% endif %}{# if client streaming #}
        {% else %}{# i.e. not server streaming #}
            {% if method.client_streaming %}
        return await self._stream_unary(
            "{{ method.route }}",
            {{ method.py_input_message_param }}_iterator,
            {{ method.py_input_message_type }},
            {{ method.py_output_message_type }},
            timeout=timeout,
            deadline=deadline,
            metadata=metadata,
        )
            {% else %}{# i.e. not client streaming #}
        {% if method.is_input_msg_empty %}
        if {{ method.py_input_message_param }} is None:
            {{ method.py_input_message_param }} = {{ method.py_input_message_type }}()

        {% endif %}
        return await self._unary_unary(
            "{{ method.route }}",
            {{ method.py_input_message_param }},
            {{ method.py_output_message_type }},
            timeout=timeout,
            deadline=deadline,
            metadata=metadata,
        )
            {% endif %}{# client streaming #}
        {% endif %}

    {% endfor %}